{{#if EU003IsPermitted }}

  <button class="w3-button w3-round-large w3-red" {{action 'deleteUser' ID}}
          title="Delete"> <i class="fa fa-user-times"></i>
  </button>
{{else}}

  <div class="w3-button w3-round-large w3-red" data-content="This feature (EU003) is disabled">
    <i class="fa fa-user-times"></i>
  </div>

{{/if}}
