{{#if EU003IsPermitted }}

  <button class="w3-button w3-round-large w3-red" {{action 'deleteUser' ID}}
          title="Delete"> <i class="fa fa-user-times"></i>
  </button>
{{else}}

  <button class="w3-button w3-round-large w3-red w3-disabled" {{action 'deleteUser' ID}}
          title="Delete"> <i class="fa fa-user-times"></i>(Not Permitted)
  </button>

{{/if}}
