<header class="w3-container w3-center" style="padding-top:22px; padding-bottom:22px">
    <h1><b><i class="fa fa-history"></i> History</b></h1>
</header>

<div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button w3-blue" style="width:50%">View Table</button>
    <button class="w3-bar-item w3-button" style="width:50%">View Graph</button>
</div>

<br><br>
<table class="w3-table-all w3-hoverable" style="padding-left:22px; padding-right:22px">
    <thead>
      <tr class="w3-light-grey">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Points</th>
      </tr>
    </thead>
    <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Eve</td>
      <td>Jackson</td>
      <td>94</td>
    </tr>
    <tr>
      <td>Adam</td>
      <td>Johnson</td>
      <td>67</td>
    </tr>
  </table>
  <br><br>