<div class="ui grid">
    <div class="row"></div>
    <div class="one wide column"></div>
    <div class="three wide column">
        <div class="ui segment">
            <img class="ui centered image" src="/assets/images/medicartWebLogo.png" style="width: 100%">
        </div>
        <div class="ui fluid massive vertical menu">
            <a class="item">
                <div></div>
                <i class="ui home icon"></i>Home 
            </a>
            <a class="item">
                <i class="ui area chart icon"></i>
                Statistics
            </a>
            <a class="item">
                <i class="ui users icon"></i>
                Classes
            </a>
            <a class="item">
                <div class="ui small label">4</div>
                <i class="ui talk icon"></i>
                Messages
            </a>
        </div>
        <div class="ui fluid massive vertical menu">
            <a class="item">
                Log In
            </a>
            <a class="item">
                Account Settings
            </a>
        </div>
    </div>
    <div class="eleven wide column">
        <div class="ui segment">
            <h1>Rest of Page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed hendrerit eros, et vulputate libero. Donec at aliquet mauris, ut interdum ipsum. Nulla ullamcorper elit a varius fringilla. Duis ultrices lorem vitae congue consequat. Sed tempor, odio ut auctor ullamcorper, neque felis porttitor nunc, ac vehicula tortor eros ultricies nibh. Proin quis ultricies augue. Morbi feugiat quis metus nec malesuada. Ut fringilla aliquam massa, quis aliquet urna vestibulum in.</p>
        </div>
    </div>
</div>